<div class="card mb-3">
    <div class="card-header d-flex justify-content-between align-items-center">
        <button type="button" class="close" aria-label="Close" hx-get="/" hx-target="#home-page" hx-swap="outerHTML">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{.Result.ImageUrl}}"
                class="card-img-top" alt="Pokemon Sprite">
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <h5 class="card-title text-uppercase font-weight-bold">{{.Result.Name}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="font-weight-bold">Height:</span> {{.Result.Height}} decimetres
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">Weight:</span> {{.Result.Weight}} hectograms
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-group list-group-flush">
                {{ range .Result.Stats}}
                <li class="list-group-item">
                    <span class="font-weight-bold">{{.Stat.Name}}:</span> {{.BaseStat}}
                </li>
                {{end}}
            </ul>
        </div>
    </div>
</div>